.jumbotron{
    background-image: url("../img/pizza.png");
}

div.jumbotron h1{
    background-color: rgb(255,255,255,0.5);
    text-align: center;
}

#mainCard{
    color: white;
    background-color: blue;
}
