body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;

}

div{
    width: calc(100% - 40px);
    height: 40px;
    padding-left: 10px;
    padding-top: 5px;
    border: 1px solid black;
    margin: 10px ;
    border-radius: 10px;


}
div p{
    margin:0px;
    border: 0px;
    padding: 0px;
    color: black;
    opacity: 100%;

}


.message-info{
    background-color: blue;
    color: darkblue;

}


.message-success{
    background-color: lawngreen;
    color: darkgreen;

}
.message-warning{
    background-color: yellow;
    color: orange;
}

.message-error{
    background-color: crimson;
    color: darkred;
    animation-name: colorChange;
    animation-duration: .5s;
    animation-iteration-count: infinite;
}
/*color selector was not working correctly so I used similar colors*/

@keyframes colorChange {
    from {background-color: crimson}
    to {background-color: white}
}